.defaultBtn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  cursor: pointer;
  user-select: none;
  text-transform: none;
  font-size: 0.9375rem;
  min-width: 64px;
  color: rgb(255, 255, 255);
  background-color: rgb(55, 125, 255);
  box-shadow: rgba(140, 152, 164, 0.1) 0px 12px 15px;
  font-weight: 400;
  border: none;
  border-radius: 5px;
  padding: 8px 18px;
}
